*,:before,:after{box-sizing:border-box}
html,body{height:100%;width:100%}
body{padding:3rem 0 3rem}
.header{background:#fff;border-bottom:3px solid #234;height:3rem;left:0;line-height:1rem;padding:1rem;position:fixed;top:0;width:100%;z-index:1000}
.navigation a{display:block;float:left;padding:0 1rem}
.footer{border-top:3px solid #234;bottom:0;height:3rem;left:0;line-height:1rem;padding:1rem;position:fixed;width:100%;z-index:1000}
.tt{height:100%;overflow:hidden;position:relative;width:100%}
.tt__static{height:100%;left:0;position:absolute;top:0;width:100%}
.tt__scroller{height:100%;font-size:0;left:0;position:absolute;top:0;width:100%;white-space:nowrap}
.tt__scroller--town{width:400%}
.tt__scroller--clouds-front{width:300%}
.tt__scroller--clouds-back{width:200%}
.tt__scroller--hills{width:120%}
.section{display:inline-block;font-size:1rem;height:100%;position:relative;width:100%}
.building{background-color:#562826;bottom:0;color:#fff;height:150px;left:25%;padding:1rem;position:absolute;text-align:center;text-transform:uppercase;width:200px;z-index:50}
.building .roof{border-style:solid;border-width:0 100px 100px 100px;border-color:transparent transparent #562926 transparent;content:'';display:block;height:0;left:0;position:absolute;bottom:100%;width:0}
.hill{border-style:solid;border-width:0 100px 50px 100px;border-color:transparent transparent #2F793B transparent;content:'';display:block;height:0;left:0;position:absolute;bottom:0;width:0}
.car{background-color:#fff;border:3px solid #234;border-top-left-radius:.5rem;border-top-right-radius:2rem;bottom:.75rem;height:2rem;position:absolute;left:3rem;width:4rem;z-index:100}
.car:before{border:3px solid #234;border-radius:50%;content:'';height:1rem;left:0;position:absolute;top:100%;width:1rem}
.car:after{border:3px solid #234;border-radius:50%;content:'';height:1rem;position:absolute;right:0;top:100%;width:1rem}
.sky{background-color:#def}
.halo{background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#f2b130),color-stop(60%,rgba(237,218,128,.2)),color-stop(80%,rgba(237,218,128,0)));background:-webkit-radial-gradient(center,ellipse cover,#f2b130 0,rgba(237,218,128,.2) 60%,rgba(237,218,128,0) 80%);background:-webkit-radial-gradient(center,ellipse,#f2b130 0,rgba(237,218,128,.2) 60%,rgba(237,218,128,0) 80%);background:radial-gradient(ellipse at center,#f2b130 0,rgba(237,218,128,.2) 60%,rgba(237,218,128,0) 80%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b130', endColorstr='#00edda80', GradientType=1);height:200%;left:-50%;opacity:0;width:200%}
.stars{opacity:0}
.star{background-color:#fff;border-radius:5px;height:5px;position:absolute;width:5px}
.celestial-bodies{top:0;height:250%;position:absolute;width:100%;z-index:50}
.sun,.moon{border-radius:50%;display:block;height:100px;left:50%;margin-left:-50px;position:absolute;width:100px}
.cloud{width:350px;height:120px;background:#fff;border-radius:100px;position:absolute;margin:120px auto 20px;z-index:0}
.cloud:after,.cloud:before{content:'';position:absolute;background:#fff;z-index:-1}
.cloud:after{width:100px;height:100px;top:-50px;left:50px;border-radius:100px}
.cloud:before{width:180px;height:180px;top:-90px;right:50px;border-radius:200px}
.tt__scroller--clouds-back .cloud{opacity:.9}
.sun{background-color:#D8A12D;border:3px solid #234;top:1rem}
.moon{box-shadow:20px -20px 0 #def;background-color:#fff;bottom:1rem}
.sign{background-color:#fff;border:3px solid #234;border-radius:.5rem;bottom:30px;height:5rem;padding:.5rem;position:absolute;text-align:center;right:3rem;width:7rem}
.sign:before{border:3px solid #234;content:'';height:36px;left:25%;position:absolute;top:100%;width:50%}
.video-container{left:50%;position:absolute;bottom:3rem}
.video-container:before{background-color:#333;top:100%;content:'';height:4rem;left:3rem;position:absolute;width:.25rem}
.video-container:after{background-color:#333;top:100%;content:'';height:4rem;position:absolute;right:3rem;width:.25rem}
.balloon{border:3px solid #234;background-color:#fff;bottom:37px;border-radius:50%;height:100px;left:50%;position:absolute;width:100px}
.balloon:before{background-color:transparent;border-left:3px solid #234;border-right:3px solid #234;content:'';height:20px;left:50%;margin-left:-10px;position:absolute;top:100%;width:20px}
.balloon:after{background-color:#234;content:'';height:20px;left:50%;margin-left:-10px;margin-top:20px;position:absolute;top:100%;width:20px}